.el-space[data-v-fbaed6fd]{width:100%}.container[data-v-fbaed6fd]{height:100%;display:flex;flex-direction:column;align-items:center}.tool[data-v-fbaed6fd]{width:100%;display:flex;justify-content:end}
