.el-space[data-v-b500979f]{width:100%}.container[data-v-b500979f]{height:100%;display:flex;flex-direction:column;align-items:center}.tool[data-v-b500979f]{width:100%;display:flex;justify-content:end}
