:root{
  --el-color-primary: #FE6601;
  --el-color-primary-light-3: #FCB370;
  --el-color-primary-light-5: #FDC999;
  --el-color-primary-light-7: #fedfc2;
  --el-color-primary-light-8: #fee9d6;
  --el-color-primary-light-9: #fff4eb;
  --el-color-primary-dark-2: #C97629;
  --el-color-primary-rgb: 251, 147, 51;
}